<div class="donation">
    <section>
        <h1>Red Pers bestaat mede dankzij jou</h1>
        <p>Red Pers biedt jonge, aspirerende journalisten
        een podium én begeleiding. Dat kunnen we nog 
        beter met jouw steun.</p>
    </section>
    
    <ul>
        <li><a href="https://bunq.me/redpersnl/5">€5</a></li>
        <li><a href="https://bunq.me/redpersnl/10">€10</a></li>
        <li><a href="https://bunq.me/redpersnl/25">€25</a></li>
        <li><a href="https://bunq.me/redpersnl/50">€50</a></li>
        <li><a href="https://bunq.me/redpersnl/">anders</a></li>
    </ul>
</div>
