<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css"/>
    <script src="../script.js" defer></script>
    <meta name="view-transition" content="same-origin"/>

</head>
<body>
    <header>
        <div>
            <a href="/">
                <img src="../assets/logo/RedPers_Logo_Cmyk_Black.webp" 
                     alt="Red Pers Logo"
                     width="300">
            </a>
            <nav id="navbar-toggle">
                <input type="checkbox"/>
                <span class="navbar-menu-button"></span>
                <span class="navbar-menu-button"></span>
                <span class="navbar-menu-button"></span>
                <ul class="navbar-menu">
                    <li><a href="#"><nobr>Binnenland</a></li>
                    <li><a href="#"><nobr>Buitenland</nobr></a></li>
                    <li><a href="#"><nobr>Columns</nobr></a></li>
                    <li><a href="#"><nobr>Economie</nobr></a></li>
                    <li><a href="#"><nobr>Kunst & Media</nobr></a></li>
                    <li><a href="#"><nobr>Podcasts</nobr></a></li>
                    <li><a href="#"><nobr>Politiek</nobr></a></li>
                    <li><a href="#"><nobr>Wetenschap</nobr></a></li>  
                    <li><a href="#"><nobr><span class="navbar-donate">Doneren</span></nobr></a></li>                  
                </ul>
            </nav>
        </div>  
    </header>
    