@font-face {
    font-family: "Merriweather";
    src: url("../assets/fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter-Regular.ttf");
}

:root {
    --primary-color-1:#2e2e2e;
    --primary-color-2:#747474;
    --primary-color-4:#F7F7F5;
    --primary-color-3:#D9D9D9;
    --active-color-1:#E85340;
    --active-color-1_hover:#53211a;


    --secondary-color-1:#5340E8;
    --secondary-color-2:#F2D930;

    --font-sans-serif:"Inter", arial, sans-serif;
    --font-serif: "Merriweather", Georgia, serif;
    --border-style-black: 2px solid var(--primary-color-1);
    --border-style-white: 2px solid var(--primary-color-3);

    --default-padding: 1em;

    --transition-flow: 0.5s ease-out, color .1s ease;
}

html {
    font-family: sans-serif;
    font-family: arial;
    font-family: "inter";
    font-family: var(--font-sans-serif);
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

li,
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    unicode-bidi: isolate;
}

img {
    height: auto;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote p {
    font-family: serif;
    font-family: Georgia;
    font-family: "Merriweather";
    font-family: var(--font-serif);

    font-weight: 900;
    line-height: 1.3em;
}

a {
    color: var(--active-color-1);
    text-decoration: none;
    transition: var(--transition-flow);

}

a:active {
    color: var(--active-color-1);
}

a:hover {
    color: var(--active-color-1_hover);
}

button {
    height: 44px;
    padding: 1rem;
    background: var(--active-color-1);
    color: white;
    border: var(--border-style-black);
    transition: var(--transition-flow);
    font-size: 1em;
}

button:hover {
    background-color: var(--active-color-1_hover);
    font-weight: bold;
}

a,
button,
summary {
    cursor: pointer;
}

main { 
    padding: 2em;
    max-width: 768px;
    margin: auto;
}

header {
    background-color: var(--primary-color-3);
    border-bottom: var(--border-style-black);
    width: 100%;

}

header div {
    max-width: 768px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}

header div a img {
    width: 15em;
}

.navbar-menu {
    position: absolute;
    right: -300px; /* Slide in from the right */
    top: 80px;
    width: 200px;
    margin: -100px -50px 0 0; /* Center horizontally and vertically */
    background: #ededed;
    transition: right 0.5s; /* Change transition property to right */
}

#navbar-toggle input:checked ~ ul {
    right: 40px; /* Slide in to the right */
    width: 100%;
    height: 100vw;
}





